* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Euclid Circular A', sans-serif;
}

h1 {
    margin-bottom: 10px;
}

.navbar {
    background-color: #202020;
    color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 2rem;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #efefef;
}

.navbar ul li a:hover {
    color: skyblue;
}

.content {
    margin: 2rem;
}

form {
    width: 35%;
    margin-right:50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form input {
    background-color: gainsboro;
    border-radius: 10px;
    height: 2rem;
    margin-bottom: 5px;
    border: none;
}

form label {
    font-size: larger;
}

ul {
    list-style: none;
}

.todo {
    margin: 10px 0px 10px 0px;
}

.about {
    margin-bottom: 15px;
}

.btn {
    background-color: skyblue;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    padding: 5px;
    width: auto;
}

.action-create {
    background-color: green;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px 0px 10px 0;
    border: none;
    color: #eee;
    padding: 5px;
    width: auto;
}

.action-edit {
    background-color: orange;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px 0px 10px 0;
    border: none;
    color: #000;
    padding: 5px;
    width: auto;
}

.danger {
    background-color: red;
    color: #000;
}

.save {
    background-color: green;
}
