{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
{% block header %}
    <h1>{% block title %} Nuevo Todo{% endblock %}</h1>
{% endblock  %}

{% block content %}
    <form method="post">
        <label for="title">Titulo</label>
        <input name="title" id="title" required />
        <label for="description">Descripción</label>
        <input name="description" id="description" required />
        <input type="submit" value="Guardar" class="action-create"/>
    </form>
{% endblock  %}