{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
{% block header %}
    <h1>{% block title %}Editar {{ todo['description'] }} {% endblock  %}</h1>
{% endblock  %}

{% block content %}
    <form method="post">
        <label for="title">Titulo</label>
        <input name="title" id="title" value="{{ request.form['title'] or todo['title'] }}" required >
        <label for="description">Descripción</label>
        <input name="description" id="description" value="{{ request.form['description'] or todo['description'] }}" required >
        <label for="completed">Completado</label>
        <input type="checkbox" name="completed" id="completed" {%if todo['completed'] == 1%} checked{% endif %} />
        <input type="submit" value="Guardar" class="save" />
    </form>
    <form action="{{ url_for('todo.delete',id=todo['id'])}}" method="post" >
        <input class="danger" type="submit" value="Eliminar" onclick="return confirm('Estás seguro de querer eliminarlo?')" />
    </form>
{% endblock  %}